# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python

# Node / JavaScript
node_modules/
dist/
build/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Build artifacts
web/members-current.json
